* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

a,
button {
  cursor: pointer;
}

.tabs a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

#main {
  flex: 1;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7efe9;
}

.tabs {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: clamp(20px, 5vw, 60px);
  margin-right: 100px;
}
.tabs a {
  flex-grow: 1;
}

.logo {
  font-size: 24px;
  padding-left: clamp(10px, calc(5vw + 10px), 100px);
}
